#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createTodoInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createTodoInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Todo $colStr VALUES $valStr", "SELECT * FROM Todo WHERE id='$ctx.args.createTodoInput.id'"]
}